<a href="" id="facebook-connect-link">
    @T("Connect with Facebook")</a>
<script type="text/javascript">
    $.facebookConnect.initializeLogin("@Html.Raw(Model.ReturnUrl)", "@Model.Permissions");
</script>
