<a href="" id="facebook-connect-link" class="piedone-facebook-suite-connect connect-link">
    @T("Connect with Facebook")
</a>
<script type="text/javascript">
    $.facebookConnect.initializeLogin("@Html.Raw(Model.ReturnUrl)", "@Model.Permissions");
</script>
